@import "../../home/home-css/style.scss";

.main-container {
    .main-container__top-bar {
        .top-bar__links {
            .top-bar__links__active-page {
                left: 1085px;
            }
        }
    }

    .main-container__our-fermers-banner {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 100px auto 0;
        .our-fermers-banner__svg-bg {
            position: relative;
            z-index: 0;
        }
        .our-fermers-banner__h2 {
            font-size: 82px;
            line-height: 98px;
            color: #1d4d4f;
            position: relative;
            z-index: 1;
            // margin: -325px 0 0 150px;
            top: -325px;
            left: 150px;
            width: max-content;

        }
        .our-fermers-banner__links {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            top: -300px;
            left: 155px;
            width: max-content;

            .links__link {
                font-family: "Lato";
                font-size: 17px;
                line-height: 20px;
                color: #443737;
                text-decoration: none;
            }
            .links__active-page {
                background: #7fb800;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                position: relative;
                margin: 0 10px;
            }
        }
    }

    .main-container__career-banner {
        display: flex;
        flex-direction: column;
        width: 1180px;
        margin: 50px auto 0;
        height: 450px;

        .career-banner__svg-bg {
            position: absolute;
            z-index: 0;
        }

        .career-banner__h2 {
            position: relative;
            z-index: 1;
            font-weight: 400;
            font-size: 42px;
            line-height: 56px;
            color: #1D4D4F;
            top: 120px;
            left: 100px;
            width: 400px;

            .career-banner__h2__span {
                font-weight: 600;
            }
        }

        .career-banner__about-button {
            position: relative;
            z-index: 1;
            background: linear-gradient(334.24deg, #7FB800 -9.84%, #0F9B0F 121.28%);
            box-shadow: 0 4px 15px rgba(127, 184, 0, 0.401852);
            border-radius: 29px;
            color: white;
            outline: none;
            border: none;
            cursor: pointer;
            width: 204px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Rubik";
            font-size: 1.5em;
            top: 150px;
            left: 100px;
        }
    }

    .main-container__team-members {
        display: flex;
        flex-wrap: wrap;
        width: 1180px;
        margin: 80px auto 50px;

        .team-members__member {
            width: 280px;
            height: 358px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;
            align-items: center;
            cursor: pointer;

            .member__img-members {
                height: 250px;
                width: 250px;
                border-radius: 50%;
                position: relative;
                z-index: 0;
                background: url('../members-img/rect.png') center;
                background-size: cover;
                .member__img-member__mask {
                    height: 250px;
                    width: 250px;
                    border-radius: 50%;
                    position: relative;
                    z-index: 1;
                    background: #D8D8D8;
                    opacity: 0.5;
                }
            }
            .member__name-of-member {
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #1D4D4F;
                margin: 10px 0;
            }
            .member__position-in-the-company {
                font-family: 'Lato';
                font-style: italic;
                color: #FAB522;
            }
        }
    }
}
@media(max-width: 1024px) {
    .main-container {
        font-size: 23px;
        width: 1024px;
        .main-container__top-bar {
            font-size: 18px;
            .top-bar__links {
                .top-bar__links__active-page {
                    display: none;
                }
            }
        }
        .main-container__our-fermers-banner {
            width: 1024px;
            .our-fermers-banner__svg-bg {
                display: none;
            }
            .our-fermers-banner__h2 {
                margin: 220px 0 0 -150px;
                width: 1024px;
                font-size: 52px;
                text-align: center;
            }
            .our-fermers-banner__links {
                margin-left: 90px;

                .links__link {
                    font-size: 1.3em;
                }
            }
        }
        .main-container__career-banner {
            width: 1024px;
            margin-top: -250px;
            .career-banner__svg-bg {
                display: none;
            }
            .career-banner__h2 {
                margin-left: -20px;
                width: max-content;

            }
            .career-banner__about-button {
                margin-left: 90px;
                width: 250px;
                height: 72px;
            }
        }
        .main-container__team-members {
            width: 870px;
            flex-wrap: wrap;
            margin-left: 90px;
        }
    }

}

@media(max-width: 768px) {
    .main-container {
        font-size: 23px;
        width: 768px;
        .main-container__top-bar {
            font-size: 18px;
            .top-bar__links {
                .top-bar__links__active-page {
                    display: none;
                }
            }
        }
        .main-container__our-fermers-banner {
            width: 768px;
            .our-fermers-banner__svg-bg {
                display: none;
            }
            .our-fermers-banner__h2 {
                margin: 220px 0 0 -150px;
                width: 768px;
                font-size: 52px;
                text-align: center;
            }
            .our-fermers-banner__links {
                margin-left: 90px;

                .links__link {
                    font-size: 1.3em;
                }
            }
        }
        .main-container__career-banner {
            width: 768px;
            margin-top: -250px;
            .career-banner__svg-bg {
                display: none;
            }
            .career-banner__h2 {
                margin-left: -20px;
                width: 768px;

            }
            .career-banner__about-button {
                margin-left: 90px;
                width: 250px;
                height: 72px;
            }
        }
        .main-container__team-members {
            width: 700px;
            flex-wrap: wrap;
            margin-left: 120px;
        }
    }

}
@media(max-width: 425px) {
    .main-container {
        width: 425px;
        .main-container__top-bar {
            .top-bar__links {
                .top-bar__links__active-page {
                    display: none;
                }
            }
        }
        .main-container__our-fermers-banner {
            width: 425px;
            .our-fermers-banner__svg-bg {
                display: none;
            }
            .our-fermers-banner__h2 {
                margin: 220px 0 0 -150px;
                width: 425px;
                font-size: 52px;
                text-align: center;
            }
            .our-fermers-banner__links {
                margin-left: -90px;
            }
        }
        .main-container__career-banner {
            width: 425px;
            margin-top: -250px;
            .career-banner__svg-bg {
                display: none;
            }
            .career-banner__h2 {
                margin-left: -90px;
                width: 425px;
            }
            .career-banner__about-button {
                margin-left: -90px;
            }
        }
        .main-container__team-members {
            width: 425px;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

}
@media(max-width: 375px) {
    .main-container {
        width: 375px;
        .main-container__top-bar {
            .top-bar__links {
                .top-bar__links__active-page {
                    display: none;
                }
            }
        }
        .main-container__our-fermers-banner {
            width: 375px;
            .our-fermers-banner__svg-bg {
                display: none;
            }
            .our-fermers-banner__h2 {
                margin: 220px 0 0 -150px;
                width: 375px;
                font-size: 52px;
                text-align: center;
            }
            .our-fermers-banner__links {
                margin-left: -90px;
            }
        }
        .main-container__career-banner {
            width: 375px;
            margin-top: -250px;
            .career-banner__svg-bg {
                display: none;
            }
            .career-banner__h2 {
                margin-left: -90px;
                width: 375px;
            }
            .career-banner__about-button {
                margin-left: -90px;
            }
        }
        .main-container__team-members {
            width: 375px;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-left: 50px;
        }
    }

}
@media(max-width: 320px) {
    .main-container {
        width: 320px;
        .main-container__top-bar {
            .top-bar__links {
                .top-bar__links__active-page {
                    display: none;
                }
            }
        }
        .main-container__our-fermers-banner {
            width: 320px;
            .our-fermers-banner__svg-bg {
                display: none;
            }
            .our-fermers-banner__h2 {
                margin: 220px 0 0 -150px;
                width: 320px;
                font-size: 52px;
                text-align: center;
            }
            .our-fermers-banner__links {
                margin-left: -90px;
            }
        }
        .main-container__career-banner {
            width: 320px;
            margin-top: -250px;
            .career-banner__svg-bg {
                display: none;
            }
            .career-banner__h2 {
                margin-left: -90px;
                width: 320px;
            }
            .career-banner__about-button {
                margin-left: -90px;
            }
        }
        .main-container__team-members {
            width: 320px;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

}
